@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legendary {
  @apply bg-gradient-to-r from-yellow-600 via-yellow-300 to-yellow-800;
}

.legendary-back {
  @apply bg-yellow-200;
}

.epic {
  @apply bg-gradient-to-r from-purple-600 via-purple-400 to-purple-800;
}

.epic-back {
  @apply bg-purple-200;
}

.rare {
  @apply bg-gradient-to-r from-green-600 via-green-500 to-green-700;
}

.rare-back {
  @apply bg-green-200;
}

.normal {
  @apply bg-gray-200;
}

.normal-back {
  @apply bg-gray-100;
}